{{template "tocEntryStart" .}}
{{template "tocShortText" .}}
UMF basic
{{template "tocLongText" .}}
{{template "tocRecommended" .}}
This example will demonstrate basic Unified Memory Framework functionality: creating memory pools and providers to allocate memory of different characteristics.
{{template "tocEntryEnd" .}}
