{{top "UMF file example"}}

<p class="intro">

<p>
To learn more about UMF, visit: <tt><a href="https://oneapi-src.github.io/unified-memory-framework" target="_new">https://oneapi-src.github.io/unified-memory-framework/</a></tt>
<p>

This is an advanced example that will demonstrate how to create a custom memory provider to allocate memory from a file.

{{step "Creating a custom provider"}}

<p>

To create a custom provider, umf_memory_provider_ops_t structure needs to be initialized with appropriate function pointers. Lines 249-259 in the example below contain code that does exactly that. The actuall alocation/deallocation logic as well as creation and destruction of the provider needs to be implemented by the provided functions.

<p>

The exact meaning of each function is described in <tt><a href="https://github.com/oneapi-src/unified-memory-framework/blob/main/include/umf/memory_provider_ops.h" target="_new">umf_memory_provider_ops.h</a></tt>


{{step "Using UMF to allocate memory from file"}}


<p>
"custom_file_provider.c" contains implementation of a custom memory provider and example usage. 
<p>

{{edit "custom_file_provider.c" "Makefile"}}

<p>

{{build "make"}}

<p>
If the programs built without errors, continue on to the next step below.

{{step "Run"}}

<p>

Of course, you should feel free to edit the script below and run it
again and again, to experiment with different commands.

{{edit "run_examples.sh"}}

<p>
Now you can try running the program using the above commands.

{{run "./run_examples.sh"}}

<p>

{{summary}}

<p>

This example demonstrated how to use UMF to allocate memory from file.

{{bottom}}

