{{top "UMF fsdax example"}}

<p class="intro">

<p>
To learn more about UMF, visit:
<p>
https://oneapi-src.github.io/unified-memory-framework/
<p>

{{step "DRAM and fsdax"}}

<p>


{{step "Using UMF to allocate memory from FSDAX"}}

<p>

<p>
"dram_and_fsdax.c" ilustrates memory provider and memory pool concepts.
<p>

{{edit "dram_and_fsdax.c" "Makefile"}}

<p>

{{build "make"}}

<p>
If the programs built without errors, continue on to the next step below.

{{step "Run"}}

<p>

Of course, you should feel free to edit the script below and run it
again and again, to experiment with different commands.

{{edit "run_examples.sh"}}

<p>
Now you can try running the program using the above commands.

{{run "./run_examples.sh"}}

<p>

{{summary}}

<p>

This example demonstrated how to use UMF to allocate memory from FSDAX.

{{bottom}}

