{{template "tocEntryStart" .}}
{{template "tocShortText" .}}
UMF fsdax
{{template "tocLongText" .}}
{{template "tocRecommended" .}}
This example will demonstrate how to use UMF to allocate memory from fsdax.
{{template "tocEntryEnd" .}}
