{{template "tocEntryStart" .}}
{{template "tocShortText" .}}
UMF custom file
{{template "tocLongText" .}}
{{template "tocRecommended" .}}
This example will demonstrate how to allocate memory from a file using a custom provider.
{{template "tocEntryEnd" .}}
