{{template "tocEntryStart" .}}
{{template "tocShortText" .}}
UMF numa node example
{{template "tocLongText" .}}
{{template "tocRecommended" .}}
This example will demonstrate how to use UMF to allocate memory from a specific NUMA node.
{{template "tocEntryEnd" .}}
