{{template "tocEntryStart" .}}
{{template "tocShortText" .}}
UMF memspaces
{{template "tocLongText" .}}
{{template "tocRecommended" .}}
This example will demonstrate how to leverage higher-level UMF API to request memory with desired characteristics, withouth specifying low-level details like NUMA node.
{{template "tocEntryEnd" .}}
